<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <p>Fill out the fields below to enter teams</p>
    <hr>
    {% if error%}
        <p> {{error}} </p>
    {% endif %}
    <form method="POST">
    {% csrf_token %}
        {% with team_num=request.session.num_teams%}
        {% with ""|center:team_num as range%}
        {% for _ in range %}
            {% with counter=forloop.counter|stringformat:"s"%}
            {% with strname="team"|add:counter %}
            <p>Team name</p>
            <input type="text" name="{{strname}}">
            {% endwith %}
            {% endwith %}
            <br>
        {% endfor %}
        {% endwith %}
        {% endwith %}
        <button type="submit">Submit</button>
    </form> 
    <br>
  </body>
</html>





